/* General styles */
footer {
  background-color: #0068A8;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 150px;
}

.footer-message {
  width: 100%;
  text-align: center;
  flex: 1;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}

.footer-social .social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social .social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo img {
    width: 100px;
  }

  .footer-message {
    margin-top: 10px;
  }

  .footer-social {
    margin-top: 10px;
  }
}
